
<h1>Listado de Libros</h1>
<hr>


<div class="row ">

  <div class="col-2">
    <mat-form-field>
      <mat-label>Autor</mat-label>
      <mat-select (selectionChange)="onFilter('autor',$event.value)" >
        <mat-option>--</mat-option>
        <mat-option *ngFor="let autor of autores" [value]="autor.id">
          {{autor.nombre}}
        </mat-option>
      </mat-select>    
    </mat-form-field>  
  </div>

  <div class="col-2">
    <mat-form-field>
      <mat-label>Categoría</mat-label>
      <mat-select (selectionChange)="onFilter('categoria',$event.value)">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let categoria of categorias" matInput [value]="categoria.id">
          {{categoria.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>  
  </div>

  <div class="col-3">

    <mat-form-field>
      <input matInput placeholder="Nombre" value="" (keyup)="onFilter('nombre',$event.target.value)">
    </mat-form-field>

  </div>

  <div class="col text-right">
    <button routerLink="/libro/nuevo"
            class="btn btn-primary">
      <i class="fa fa-plus"></i>
      Agregar
    </button>
  </div>
</div>


<table *ngIf="!cargando && libros.length > 0"
       class="table mt-3 animated fadeIn faster animated fadeIn faster">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Autor</th>
      <th scope="col">Categoría</th>
      <th scope="col">Isbn</th>
      <th scope="col">Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let libro of librosFiltrados | async; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ libro.nombre }}</td>
      <td>{{ libro.autor }}</td>
      <td>{{ libro.categoria }}</td>
      <td>{{ libro.isbn }}</td>

      <td>

        <button class="btn btn-info mr-1"
                [routerLink]="['/libro', libro.id ]">
          <i class="fa fa-pen"></i>
        </button>

        <button class="btn btn-danger"
                (click)="borrarLibro( libro, i ) ">
          <i class="fa fa-trash"></i>
        </button>


      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="!cargando && libros.length === 0"
     class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
      <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>

<div *ngIf="cargando" 
     class="alert alert-info text-center mt-3 animated fadeIn faster">
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">
    Espere por favor
  </p>
</div>