
<h1>Autor <small>Nombre del Autor</small> </h1>
<hr>


<div class="row">
  <div class="col" *ngIf="formularioError">
    <div class="alert alert-danger" role="alert">
      Todos los campos son requeridos
  </div>
  </div>
  <div class="col text-right">
    <button class="btn btn-danger"
            routerLink="/autores">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>



<div class="row animated fadeIn faster">
  <div class="col">

    <form (ngSubmit)="guardar( f )"
          #f="ngForm">

          <div class="form-group">
            <label>ID</label>
            <input type="text"
                   class="form-control"
                   placeholder="ID"
                   [(ngModel)]="autor.id"
                   name="id"
                   disabled="disabled">
            <small class="form-text text-muted">Este campo es autogenerado</small>
          </div>
    
    
          <div class="form-group">
              <label>Nombre</label>
              <input type="text"
                     class="form-control"
                     placeholder="Nombre del héroe"
                     [(ngModel)]="autor.nombre"
                     name="nombre"
                     placeholder="Nombre del autor"
                     required>
          </div>
    
          <div class="form-group">
              <label>Apellidos</label>
              <input type="text"
                     class="form-control"
                     [(ngModel)]="autor.apellidos"
                     name="apellidos"
                     placeholder="apellidos del autor"
                     required>
          </div>
    
          <div class="form-group">
            <label>Fecha de Nacimiento</label>
            <input type="text"
                   class="form-control"
                   [(ngModel)]="autor.fechaNacimiento"
                   name="fechaNacimiento"
                   placeholder="Fecha de nacimiento"
                   required>
          </div>


      <hr>
      <div class="form-group text-center">
        <button type="submit"
                class="btn btn-primary w-25">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div>


    </form>


  </div>
</div>


