
<h1>Libro <small>{{libro.nombre}}</small> </h1>
<hr>

<div class="row ">
  <div class="col" *ngIf="formularioError">
    <div class="alert alert-danger" role="alert">
      Todos los campos son requeridos
  </div>
  </div>

  <div class="col text-right">
    <button class="btn btn-danger"
            routerLink="/libros">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>



<div class="row animated fadeIn faster">
  <div class="col">

    <form (ngSubmit)="guardar( f )"
          #f="ngForm">

      <div class="form-group">
        <label>ID</label>
        <input type="text"
               class="form-control"
               placeholder="ID"
               [(ngModel)]="libro.id"
               name="id"
               disabled="disabled">
        <small class="form-text text-muted">Este campo es autogenerado</small>
      </div>


      <div class="form-group">
          <label>Nombre</label>
          <input type="text"
                 class="form-control"
                 placeholder="Nombre del libro"
                 [(ngModel)]="libro.nombre"
                 name="nombre"
                 required>
      </div>

      <div class="form-group">
                 <mat-form-field class="example-full-width"  name="autor">
                  <input type="text" placeholder="Autor" aria-label="Number" matInput [formControl]="autor" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" required>
                    <mat-option *ngFor="let autor of autoresFiltrados | async" [value]="autor" >
                      {{autor.nombre}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

      </div>

      <div class="form-group">

              <mat-form-field>
                <mat-label>Categoría</mat-label>
                <mat-select [formControl]="categoriaControl" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
                    {{categoria.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="categoriaControl.hasError('required')">Por favor escoja una categoría</mat-error>
              </mat-form-field>
    </div>

    <div class="form-group">
      <label>Isbn</label>
      <input type="text"
             class="form-control"
             [(ngModel)]="libro.isbn"
             name="isbn"
             placeholder="isbn" required>
  </div>

     


      <hr>
      <div class="form-group text-center">
        <button type="submit"
                class="btn btn-primary w-25">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div>


    </form>

  </div>
</div>


